@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

html, body{
    font-family: Raleway;
    background-color: rgb(193, 224, 228);
}
*{margin:0;
box-sizing: border-box;}
.navbar { 
    width: 100%;
    background-color: #a1a1a1;
    overflow: hidden;
    position: fixed;
} 
.navbar a{
    text-decoration: none;
    font-size: 20px;
    float: left;
    text-align: center;
    padding:  12px;
    color: white;
    width: 20%;
}
.navbar a:hover{
    color: black;
    cursor: pointer;
}
.container{
    padding-top: 60px;
    width: 900px;
    margin: 0 auto;
}
p{
    font-size: 17px;
}
h1{
    color: #356c6c;
}

.copy{
    margin: 10px 20px;
    color: white;
}
footer{
    background-color:#66bfbf5a;
    padding: 50px 0 20px;
    text-decoration: none;
    text-align: center;
}
.foot_link{
    text-decoration: none;
    color: rgb(94, 147, 155);
    margin: 10px 20px;
}
.foot_link:hover{
    color: white;
}

@media screen and (max-width: 500px) {
    .navbar a, img{
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
}