@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
html, body{
    font-family: Raleway;
    background-color: rgb(193, 224, 228);
}
*{box-sizing: border-box;
    margin: 0;}

.navbar { 
    width: 100%;
    background-color: #a1a1a1;
    overflow: hidden;
    position: fixed;
} 
.navbar a{
    text-decoration: none;
    font-size: 20px;
    float: left;
    text-align: center;
    padding:  12px;
    color: white;
    width: 20%;
}
.navbar a:hover{
    color: black;
    cursor: pointer;
}

.products{
    margin-left: 65px;
    /* margin-bottom: 50px; */
}
.product{
    /* display: inline-block; */
    width:20%;
    height:360px;
    margin: 25px 35px 50px 15px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 10px 10px 10px;
    float: left;
} 
.product:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
.container{
    padding-top: 80px;
    padding-bottom: 70%;
}
.content-section{
    margin-bottom: 50px;
}
img{
    margin: auto 0;
    max-height: 65%;
    width: auto;
    padding: 15px 20%;
    display: block;
    /* width: 100%; */
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.btn-wishlisted, .btn-cart {
    background-color: whitesmoke;
    /* border: none; */
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn-wishlisted{
    border:none;
}
.btn-wishlisted:hover, .btn-cart:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
}
.btn-cart{
    border-color: black;
    border-width: 1px;
}
.name{
    padding-top: 10px;
}
.pname{
    padding-left: 20px;
}

.copy{
    margin: 10px 20px;
    color: white;
}
footer{
    background-color:#66bfbf5a;
    padding: 50px 0 20px;
    text-decoration: none;
    text-align: center;
}
.foot_link{
    text-decoration: none;
    color: rgb(94, 147, 155);
    margin: 10px 20px;
}
.foot_link:hover{
    color: white;
}

@media screen and (max-width: 500) {
    .navbar a, img, div{
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
}
