<footer>
    <div class = "bottom" >
        <a class = "foot_link" href = "#">Twitter</a> 
        <a class = "foot_link" href = "#"> Facebook</a> 
        <a class = "foot_link" href = "/contact">Mail</a>
        <br>
        <p class = "copy">  &#169; Priyasha Parnavi &nbsp; @2022 </p>
    </div>
</footer>