<header>
    <div class = "navbar">
        <a href = "/"><i class="fa fa-home"></i> Home </a>
        <a href = "/cart"><i class="fa fa-shopping-cart" style="font-size:20px"></i>&nbsp; Cart </a>
        <a href = "/wishlist"><i class="fa fa-heart" style="font-size:19px;"></i> Wishlist </a>
        <a href = "/contact"><i class="fa fa-phone" style="font-size:20px"></i> Contact </a>
        <a href = "/faq"><i class="fa fa-question-circle" style="font-size:20px"></i> FAQ </a>
    </div>
</header>