<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        <link rel = "icon" href = "/photos/logo2.png" type = "image/x-icon">
        <link href = "/css/contact.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <%- include("partials/header"); -%> 
    <body>
        <div class = "container">
            <h1 class="main">Happy To Serve You!</h1>
            <p id = "mail">1. &nbsp;Contact us via a mail</p><br>
            <!-- <img class = "gif" src = "/photos/oshop.gif"> -->

            <form id = "form" action="/rv/contact" method="post" enctype="text/plain">
                Name*:<br><br>
                <input id = "name_bar" type="text" name="name" required autofocus><br><br><br>
                E-mail*:<br><br>
                <input id = "mail_bar" type="text" name="mail" required><br><br><br>
                Comment:<br><br>
                <div>
                    <textarea id = "query" name = "query" title="Please enter your query..." textarea ></textarea>
                </div>
                <a><input class = "btn_smt" type="submit"></a>
                <a><input class = "btn_rst" type="reset" value="Reset"></a>
                <br><br>
            </form>
            <p id = "call">2. &nbsp; You can call us now... <a href="tel:822-695-5101">Call us now</a></p>
        </div>  
    </body> 
    <%- include("partials/footer"); -%>
</html>