<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title> FAQs</title>
        <link rel = "icon" href = "/photos/logo2.png" type = "image/x-icon">
        <link href="css/faq.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <%- include("partials/header"); -%> 
    <body>
        <div class="container content-section">
        <center><h1>Frequently Asked Questions (FAQs) </h1></center><br>
        <p>
            <b>1.  Q: How can I order?</b>
            <br><br>
            A: You can order easily using our online platform. When you find a product you need, you can add it to cart, login and go through the ordering process. After the order is ready, you will receive order summary to your email. Order summary will also be stored to your account.
            <br>

            You can also easily make reorders afterwards by clicking the “reorder” button on any of your previously made order. After clicking the “reorder” button the cart will open and you can change quantities or products. 
            <br><br><br>
            <b>2.    Q: Why should I buy online?<br><br></b>
            A: Speeding up the process. By ordering online you will you will get prices faster and you will be able to go through order confirmation and payment process much faster. This could save days of your time.
            <br>
            Traceability: You will have easy access to all of your previous orders any time you want.
            <br>
            Reordering:  you can make a re-order anytime based on your previous orders by only couple of clicks. This will save time and effort as you don't need to go through all the documents and emails from the past.
            <br><br><br>
            <b>3.    Q: What information should I input when ordering?<br><br></b>
            A: our online ordering system will ask for all the important information you should submit. If you have a VAT number, please remember to submit it. This will make sure the shipment is not delayed because of the lack of VAT number
            <br><br><br>
            <b>4.    Q: What payment methods can I use?<br><br></b>
            A: You can use all the major credit cards.<br>
            <br>
            If you are a customer with established customer relationship with HyTest Ltd. you are able to use invoice as a payment method on our online shopping checkout process.  If invoicing option is not activated for you although you are repeated customer, please contact hytest@hytest.fi and notify us.
            <br><br>
            <b>5.    Q: Is VAT charged?<br><br></b>
            A: If you have VAT number, then VAT is not charged. You need to remember to add the VAT number to your account information section. Online checkout system will automatically fill in the submitted VAT number when you order products.
            You can also add your VAT number during the checkout process manually.
            <br><br><br>
            <b>6.    Q: Can I use pro-forma invoice?<br><br></b>
            A: Yes, you can use pro-forma invoice. Please contact hytest@hytest.fi if you want to use pro-forma invoice.
            <br><br><br>
            <b>7.    Q: What should I do if the payment is not accepted?<br><br></b>
            A: Please try again in a little while. If the payment is still not accepted, please verify your account balance. If everything is as it should, but you still can't make the payment, please contact hytest@hytest.fi notify us about the problem. We can manage the order manually.
            <br><br><br>
            <b>8.    Q: How can I change delivery address?<br><br></b>
            A: Sign in to your account and go to "my account". On “my account” you can change all your contact information.
            <br><br><br>
            <b>9.    Q: What are the delivery charges?<br><br></b>
            A: Delivery charges are dependent on the shipment requirements. If the products on your order are due to special requirements (for example dry ice) extra fee will be added to the shipment charges. You can see the shipping fees on the checkout process before the payment is made.
            <br><br><br>
            <b>10.    Q: What are the terms and conditions?<br><br></b>
            A: You can see the terms and conditions here<br><br><br>


            <b>11.    Q:Security</b> <br><br>
            A: Our web store is secured with SSL certificate. This means the information you input is encrypted and it will not be available for third parties.
            <br><br><br>
            <b>Delivery</b><br><br>
            <b>12.    Q: Can I track my order?<br><br></b>
            A: We will send you the tracking code of the shipment when the parcel has been sent.
            <br><br><br>
            <b>13.  Shipping time?</b> <br><br>
            A: Shipping time will be confirmed on the order confirmation document.
            <br><br><br>
            <b>14.  Shipping cost?</b> <br><br>
            A: Shipping costs are dependent on your location and products on your order. Some products need to be shipped in dry ice. These dry ice shipments have a slightly higher shipping fee. Our online store shows the shipping fee and shipping cost automatically on the checkout.
            <br><br><br>
            <b>15.    Q: Changing the shipping address?<br><br></b>
            A: You can easily change your shipping address on your account. You just need to login and click “my account” and “edit”.  You can also change the shipping address during the checkout process if you need. Just click “edit” below “shipping address”.
            <br><br><br>
        </p>
        </div>
       
    <%- include("partials/footer"); -%>