<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel = "icon" href = "../photos/logo2.png" type = "image/x-icon">
    <link href="css/wishlist.css" rel="stylesheet" type="text/css">
</head>
<body>
    <center><img class = "nowish" src ="photos/nowish.png">
        <a href = "/"> <input class = "btn_shop" type="button" value = "Start Shopping+"></a>
    </center>
</body>
</html>