@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
html, body{
    font-family: Raleway;
    background-color: rgb(193, 224, 228);
}
*{box-sizing: border-box}
*{margin: 0}
.navbar { 
    width: 100%;
    background-color: #a1a1a1;
    overflow: hidden;
    position: fixed;
} 
.navbar a{
    text-decoration: none;
    font-size: 20px;
    float: left;
    text-align: center;
    padding:  12px;
    color: white;
    width: 20%;
}
.navbar a:hover{
    color: black;
    cursor: pointer;
}
img{
    display: block;
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
    height: 65%;
    width: 70%;
    padding: 25px 30px;
}

.goto{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.category{
    margin-left: 25px;
    
    text-decoration: none;
}
.card{
    display: inline-block;
    width:30%;
    margin: 25px 15px 25px 15px;
    background-color: rgb(243, 228, 208);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    text-decoration: none;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.cname{
/* .class1 .class2 is to select class2 hierarchically (space between selectors)
class2 is a child class of class1
Ex:  <div class = "class1"><h1 class = "class2"></h1></div>

.class1.class2 is to select class2 combined way (no space between selectors)
class2 and class1 are combined selectors   
Ex:<h1 class = "class1 class2">*/
    padding: 0px 16px;
    font-size: 19px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}
p,a{
    text-align: center;
    text-decoration: none;
}

.copy{
    margin: 10px 20px;
    color: white;
}
footer{
    background-color:#66bfbf5a;
    padding: 50px 0 20px;
    text-decoration: none;
    text-align: center;
}
.foot_link{
    text-decoration: none;
    color: rgb(94, 147, 155);
    margin: 10px 20px;
}
.foot_link:hover{
    color: white;
}

@media screen and (max-width: 500px) {
    .navbar a, img{
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
}
